* {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

.accordion ul li {
  margin-bottom: 10px;
}

ul li a {
  margin: 0;
  padding: 10px;
  border-radius: 15px;
  background-color: #198754;
}

div ul li a {
  display: inline-block;
  border-radius: 10px;
  background-color: #198754;
  text-decoration: none;
  color: black;
}

.carrito a {
  text-decoration: none;
  color: white;
}

.title {
  margin-bottom: 20px;
}

.producto {
  text-align: center;
}

.producto img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  margin-top: 25px;
  border-radius: 1rem;
}

/* CARRITO CSS */
/*  */

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: gainsboro;
  color: black;
  padding: 5px;
  border-radius: 1rem;
}

.carrito-producto-imagen {
  width: 100px;
  border-radius: 1rem;
}

.carrito-producto small {
  font-size: 14px;
}

.carrito-producto-eliminar {
  margin-right: 10px;
  cursor: pointer;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
}

.carrito-acciones-vaciar {
  border: 0;
  background-color: #dc3545;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.carrito-acciones-total {
  display: flex;
  gap: 0.5rem;
  background-color: gainsboro;
  padding: 1rem;
  border-radius: 1rem;
  color: black;
  text-transform: uppercase;
}

.carrito-acciones-total p {
  padding-top: 15px;
}

.carrito-der {
  display: flex;
  gap: 1rem;
}

.carrito-izq {
  display: flex;
  gap: 1rem;
}

.carrito-acciones-comprar {
  border: 0;
  background-color: #198754;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.carrito {
  float: right;
  border-radius: 1rem;
  color: black;
  margin-top: 30px;
  margin-right: 20px;
  text-decoration: none;
}

/*  */
/* FOOTER  */
/*  */

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* productos PAGINA */
